@import url(https://fonts.googleapis.com/css?family=Alegreya|Sanchez);

body {
  font-family: "Alegreya", serif;
  color: rgb(0,0,0);
  font-size: 15px;
  line-height: 1.5;
  background-color: rgb(255,250,250);
}

#container2 {
  max-width: 500px;
  min-width: 500px;
  margin: 0 auto;
}

address {
  margin-left: 0;
  text-align: center;
}

address > p {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-top: 0;
  font-style: normal;
  font-size: 18px;
}

a {
  color: rgb(255,105,180);
}

a:visited {
  color: rgb(255,110,180);
}

a:hover,
a:focus {
  color: rgb(255,192,203);
}

a:active {
 color: rgb(139,28,98);
}

nav li {
  font-weight: lighter;
  margin-right: 30px;
  margin-left: 0;
  font-size: 25px;
  margin-top: 1;
  margin-bottom: 4px;
}

nav {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-family: "Sanchez";
  font-size: 44px;
  text-align: center;
  margin-bottom: 7px;
}


h2 {
  font-weight: bold;
  font-family: "Sanchez", serif;
  margin-top: 40px;
  margin-bottom: 12px;
  border-bottom: 2px dotted rgb(255,105,180);
}

h3 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 2px;
}

ul {
  margin: 0;
}

article p {
  margin: 0;
}

article {
  margin-bottom: 15px;
}

article, ul {
  list-style: disc;
}

article > ul > li > ul > li {
  list-style: circle;
}

h1 > strong {
  color: black;
}

#taglit {
  clear: both;
}

#nome {
  color: black;
  text-decoration: none;
}

#first {
  display: inline-block;
}
